{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <link rel="stylesheet" type='text/css' href="{% static 'top/stylesheet.css' %}">
    <title>山川運送バイト割り当て</title>

</head>
<body>

<nav class="navbar navbar-expand-lg navbar-light bg-light fixed-top">
  <div class="container-fluid">
    <a class="navbar-brand" href="{% url 'top:index' %}">山川運送バイト割り当て</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        {% if user.is_employer %}
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle active" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            シフト
          </a>
          <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
            <li><a class="dropdown-item" href="{% url 'shift:index' %}">シフトの表示</a></li>
            <li><a class="dropdown-item" href="{% url 'shift:assign' %}">シフトの有効化</a></li>
            <li><a class="dropdown-item" href="{% url 'shift:employer' %}">シフトの割り振り</a></li>
          </ul>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle active" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            ユーザー
          </a>
          <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
            <li><a class="dropdown-item" href="{% url 'top:edit' %}">現在のユーザーを編集</a></li>
            <li><a class="dropdown-item" href="{% url 'top:register' %}">新規ユーザーを登録</a></li>
          </ul>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle active" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            使い方
          </a>
          <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
            <li><a class="dropdown-item" href="{% url 'tutorial:employer' %}">雇用者用画面</a></li>
            <li><a class="dropdown-item" href="{% url 'tutorial:employee' %}">従業員用画面</a></li>
          </ul>
        </li>
        {% else %}
            <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle active" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            シフト
          </a>
          <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
            <li><a class="dropdown-item" href="{% url 'shift:index' %}">シフトの表示</a></li>
            <li><a class="dropdown-item" href="{% url 'shift:employee' %}">シフト希望の提出</a></li>
          </ul>
        </li>
            <li class="nav-item">
              <a class="nav-link active" aria-current="page" href="{% url 'tutorial:employee' %}">使い方</a>
            </li>
        {% endif %}
      </ul>
      <form action="{% url 'top:logout' %}">
          ログイン中: {{ user.username }}
        <input type="submit" class="btn btn-outline-success me-2" value="ログアウト">
      </form>

    </div>
  </div>
</nav>


<div class="under-nav">
{% block content %}
{% endblock %}
</div>

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
</body>
</html>