{% extends 'top/base.html' %}

{% block content %}

現在ログイン中: {{ user }}

<p class="page-title">
従業員の編集
</p>


<h2 style="text-align: center">現在の従業員</h2>
<table class="edit">
    <tr>
        <th>name</th>
        <th>編集</th>
        <th>削除</th>
    </tr>
{% for employee in employees %}
    <tr>
        <td>{{ employee.username }}</td>
        <th><a href="{% url 'top:update' employee.pk %}">編集</a></th>
        <th><a href="{% url 'top:delete' employee.pk %}">削除</a></th>
    </tr>
{% endfor %}
</table>

<h2 style="text-align: center">現在の管理者</h2>
<table class="edit">
    <tr>
        <th>name</th>
        <th>編集</th>
        <th>削除</th>
    </tr>
{% for employer in employers %}
    <tr>
        <td>{{ employer.username }}</td>
        <th><a href="{% url 'top:update' employer.pk %}">編集</a></th>
        <th><a href="{% url 'top:delete' employer.pk %}">削除</a></th>
    </tr>
{% endfor %}
</table>

{% endblock %}