{% extends 'top/base.html' %}

{% block content %}

<p class="page-title">
ユーザーの編集
</p>


<h4 class="text-center mt-3">現在の従業員</h4>
<div class="container">
    <table class="table table-striped">
        <tr class="table-danger">
            <th>name</th>
            <th>編集</th>
            <th>削除</th>
        </tr>
    {% for employee in employees %}
        <tr>
            <td>{{ employee.username }}</td>
            <th><a class="btn btn-info" href="{% url 'top:update' employee.pk %}">編集</a></th>
            <th><a class="btn btn-danger" href="{% url 'top:delete' employee.pk %}">削除</a></th>
        </tr>
    {% endfor %}
    </table>
</div>

<h4 class="text-center mt-3">現在の管理者</h4>
<div class="container">
    <table class="table table-striped">
        <tr class="table-info">
            <th>name</th>
            <th>編集</th>
            <th>削除</th>
        </tr>
    {% for employer in employers %}
        {% if not employer.is_superuser %}
        <tr>
            <td>{{ employer.username }}</td>
            <th><a class="btn btn-info" href="{% url 'top:update' employer.pk %}">編集</a></th>
            <th><a class="btn btn-danger" href="{% url 'top:delete' employer.pk %}">削除</a></th>
        </tr>
        {% endif %}
    {% endfor %}
    </table>
</div>

{% endblock %}