{% extends 'top/base.html' %}

{% block content %}

<p class="page-title">
従業員用画面チュートリアル
</p>
<h2>
シフトの表示
</h2>
<p class="tutorial-text">
トップページでは現在のシフト状況が確認できます。これは雇用者・従業員共に閲覧できるページであり、誰がどのシフトに割り当てられているのかが表示されます。従業員割り当ての必要ないシフト（例えば、祝日でない平日のAMシフト）は「---」と表示されます。また担当者がいないシフトは赤く表示されるため、 一目で見分けることができます。
</p>
<p class="tutorial-text">
「次月」を選択すると次の月のシフト状況が、「前月」を選択すると前の月のシフト状況が確認でき、「今月へ戻る」を選択すると今月のシフトページへ戻ります（なお、この機能はシフト関連の全てのページに共通しています）。
</p>
<h2>
シフト希望の提出
</h2>
<p class="tutorial-text">
シフト希望提出画面では、出勤を希望するシフトの情報を雇用者に提出することができます。
</p>
<p class="tutorial-text">
この画面に移行するとページ中央部のカレンダーにて、出勤が必要とされているシフトについてはチェックボックスが、そうでないシフトについては「シフトなし」という文字が表示されます。出勤が必要とされているシフトのうち自身が出勤を希望するシフトにチェックを入れ、その入力が終わったらページ最下部の「シフト希望の確定」というボタンを選択してください。なお、チェックボックスやボタンは雇用者が既に入力用のシフトを生成している場合のみ表示されます。チェックボックスが表示されず、画面最下部に「シフト生成が行われていません。生成が行われるまでお待ちください。」と表示されている場合、雇用者側でシフトの生成が行われていません。そうした場合は雇用者にご連絡ください。
</p>
{% endblock %}