{% extends 'top/base.html' %}

{% block content %}

    <p class="page-title">雇用者用画面チュートリアル</p>

<h1><span>01</span>シフト関連</h1>

<h2>
シフトの表示
</h2>
<p class="tutorial-text">
{{ tutorial_text }}
</p>
<p class="tutorial-text">
トップページでは現在のシフト状況が確認できます。これは雇用者・従業員共に閲覧できるページであり、誰がどのシフトに割り当てられているのかが表示されます。従業員割り当ての必要ないシフト（例えば、祝日でない平日のAMシフト）は「---」と表示されます。また担当者がいないシフトは赤く表示されるため、 一目で見分けることができます。
</p>
<p class="tutorial-text">
「次月」を選択すると次の月のシフト状況が、「前月」を選択すると前の月のシフト状況が確認でき、「今月へ戻る」を選択すると今月のシフトページへ戻ります。後述のシフト有効化・シフト割り振りの結果は全てこのページに反映され、誰がいつの担当になったのかがすぐに分かるようになっています。注意しなければならない点として、シフトの生成をしていない状態ではシフトの有無が反映されず、空のカレンダーだけが表示されます。シフト希望を募り、シフトを割り当てたい場合は、まずシフトの生成を行うようにしましょう。
</p>
<h2>
シフトの有効化
</h2>
<p class="tutorial-text">
シフト有効化ページでは必要なシフトの有効化が行えます。
</p>
<h2>
シフトの割り振り
</h2>

<h1><span>02</span>ユーザー関連</h1>



{% endblock %}