*,
*:before,
*:after {
  -webkit-box-sizing: inherit;
  box-sizing: inherit;
}

html {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}


.btn,
a.btn,
button.btn {
  position: relative;
  display: inline-block;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  text-align: center;
  vertical-align: middle;
  text-decoration: none;
  border-radius: 0.5rem;
}

.under-nav {
    margin-top: 60px;
}

.red {
    color:red;
}

.page-title {
    font-size: 3rem;
    width: fit-content;
    margin: auto;
}

.futodoki {
    color: red;
    font-size: 2rem;
    margin-right: auto;
    margin-left: auto;
    width: fit-content;
}

.edit {
    font-size: 1.25rem;
    margin-right: auto;
    margin-left: auto;
    width: fit-content;
}

.btn--center {
    text-align: center;
}

.btn--right {
    text-align: right;
}

.btn--blue {
  font-size: 1.6rem;
  font-weight: 700;
  padding: 1rem 4rem;
  color: darkslateblue;
  background-color: white;
  border-color: deepskyblue;
  border-style: groove;
  border-width: thin;
  border-bottom: 5px solid slategrey;
  -webkit-box-shadow: 0 3px 5px rgba(0, 0, 0, .3);
  box-shadow: 0 3px 5px rgba(0, 0, 0, .3);
}

.btn--blue:hover {
  margin-top: 3px;
  color: white;
  background: linear-gradient(135deg, deepskyblue, slateblue);
  border-color: white;
  border-style: groove;
  border-width: thin;
  border-bottom: 2px solid slategrey;
}

.btn--rainbow {
    font-size: 1.6rem;
    font-weight: 700;
    padding: 1rem 4rem;
    color: black;
    background: white;
    border-width: thin;
    border-style: groove;
    border-color: deepskyblue;
}

.btn--rainbow:hover {
    color: white;
    background: linear-gradient(to right,#e60000,#f39800,#fff100,#009944,#0068b7,#1d2088,#920783);
}

h2 {
  padding: 1rem 2rem;
  border-left: 5px solid lightskyblue;
  background: #f4f4f4;
}

.tutorial-text {
    text-indent: 1em;
}

h1 {
  position: relative;
  overflow: hidden;
  padding: 1.5rem 2rem 1.5rem 130px;
  border: 2px solid darkgray;
}

h1:before {
  position: absolute;
  top: -150%;
  left: -100px;
  width: 200px;
  height: 300%;
  content: '';
  -webkit-transform: rotate(25deg);
  transform: rotate(25deg);
  background: lightskyblue;
}

h1 span {
  font-size: 4rem;
  position: absolute;
  z-index: 1;
  top: 0;
  left: 0;
  display: block;
  padding-top: 3px;
  padding-left: 16px;
  color: #fff;
}

h3 {
    padding: 1rem 2rem;
    border-bottom: 3px dotted #000;
    background: #f4f4f4;
    margin: 10px auto auto;
}