<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

<h1>
    雇用者 - Assign
</h1>

<style>
    table {
        table-layout: fixed;
    }

    td > div {
        height: 100px;
        overflow: hidden;
        white-space: nowrap;
    }

</style>
<a href="{% url 'shift:assign' month_previous.year month_previous.month %}">前月</a>
{{ month_current | date:"Y年m月" }}
<a href="{% url 'shift:assign' month_next.year month_next.month %}">次月</a>

<!-- カレンダーのフォーム -->
<form method="post">
{% csrf_token %}

<!-- カレンダー本体 -->
<table class="table">
    <thead>
    <tr>
        {% for w in week_names %}
            <th>{{ w }}</th>
        {% endfor %}
    </tr>
    </thead>
    <tbody>
    {% for week_day_shifts in shifts %}
        <tr>
            {% for day, week_shifts in week_day_shifts.items %}
                {% if now == day %}
                    <td class="table-success">
                        {% else %}
                    <td>
                {% endif %}

            <p>
                <!-- カレンダーの表示 -->
                {% if month_current.month != day.month %}
                    {{ day | date:"m/d" }}
                {% else %}

                    <!-- 日付 -->
                    <p>{{ day.day }}</p>

                    <!-- シフト -->
                    {% for shift in week_shifts %}
                        {% for master_shift in shift|dictsortreversed:"is_am" %}
                            {% if master_shift.date == day %}

                                <!-- コマ -->
                                {% if master_shift.is_am %}
                                    <p>
                                        AM
                                        {% if master_shift.required %}
                                            <input type="checkbox" name="check[]" value="{{ master_shift.pk }}" checked="checked">
                                        {% else %}
                                            <input type="checkbox" name="check[]" value="{{ master_shift.pk }}">
                                        {% endif %}
                                    </p>
                                {% else %}
                                    <p>
                                        PM
                                        {% if master_shift.required %}
                                            <input type="checkbox" name="check[]" value="{{ master_shift.pk }}" checked="checked">
                                        {% else %}
                                            <input type="checkbox" name="check[]" value="{{ master_shift.pk }}">
                                        {% endif %}
                                    </p>
                                {% endif %}

                            {% endif %}
                        {% endfor %}
                    {% endfor %}

                {% endif %}
            </div>
            </td>
            {% endfor %}
        </tr>
    {% endfor %}
    </tbody>
</table>

<input type="submit" name="confirm" value="Confirm Assign">
</form>

<form action='{% url 'shift:assign' now.year now.month %}'>
    <input type="submit" value="今月({{ now.month }}月)へ戻る">
</form>

<form action="{% url 'shift:employer' month_current.year month_current.month  %}">
    <input type="submit" value="シフト割り振りに戻る">
</form>

</body>
</html>