{% extends 'top/base.html' %}
{% block content %}

<p class="page-title">
シフトの割り振り
</p>

{% if non_submitted_users %}
    <h2 style="text-align: center">シフト希望未提出:</h2>
    {% for non_submitted in non_submitted_users %}
        <p class="futodoki">{{ non_submitted }} さん</p>
    {% endfor %}
{% endif %}

<div class="container-fluid text-center col-6">
    <a class="fs-5 btn btn-outline-primary" href="{% url 'shift:employer' month_previous.year month_previous.month %}" role="button">前月</a>
    <span class="fs-1">{{ month_current | date:"Y年m月" }}</span>
    <a class="fs-5 btn btn-outline-primary" href="{% url 'shift:employer' month_next.year month_next.month %}" role="button">次月</a>
    <form action='{% url 'shift:employer' now.year now.month %}'>
        <input type="submit" class="btn btn-outline-primary" value="今月({{ now.month }}月)へ戻る">
    </form>
</div>

{% if generate_status %}
<div class="btn--right">
<form action="" method="post">
    {% csrf_token %}
    <input type="submit" class="btn btn--rainbow" value="シフトの自動割り振り" name="allot">
</form>
</div>
{% else %}
<div class="btn--right">
    <label>
    シフトの有効化が済んでいません。有効化はこちらから:
    <a class="fs-5 btn btn-outline-primary" href="{% url 'shift:assign' month_current.year month_current.month %}" role="button">シフト有効化</a>
    </label>
</div>
{% endif %}

<!-- カレンダーのフォーム -->
<form method="post" id="calendar">
{% csrf_token %}

<!-- カレンダー本体 -->
<table class="table">
    <thead>
    <tr>
        {% for w in week_names %}
            <th>{{ w }}</th>
        {% endfor %}
    </tr>
    </thead>
    <tbody>
    {% for week_day_shifts in shifts %}
        <tr>
            {% for day, week_shifts in week_day_shifts.items %}
                {% if now == day %}
                    <td class="table-success">
                        {% else %}
                    <td>
                {% endif %}

            <p>
                <!-- カレンダーの表示 -->
                {% if month_current.month != day.month %}
                    {{ day | date:"m/d" }}
                {% else %}

                    <!-- 日付 -->
                    <p>{{ day.day }}</p>

                    <!-- シフト -->
                    {% for shift in week_shifts %}
                        {% for master_shift in shift|dictsortreversed:"is_am" %}
                            {% if master_shift.date == day %}

                                <!-- コマ -->
                                {% if master_shift.is_am %}
                                    <p>
                                        AM
                                        {% if master_shift.required %}
                                            <select name={{ master_shift.pk }}>
                                                <option value="not_selected" selected>未選択</option>
                                                {% for personal_shift in personal_shifts %}
                                                    {% if personal_shift.master == master_shift %}
                                                        {% if personal_shift.is_wanted %}
                                                            {% if master_shift.worker == personal_shift.owner %}
                                                                <option value={{ personal_shift.owner.id }} selected>
                                                                {{ personal_shift.owner.username }} さん
                                                                </option>
                                                            {% else %}
                                                                <option value={{ personal_shift.owner.id }}>
                                                                {{ personal_shift.owner.username }} さん
                                                                </option>
                                                            {% endif %}
                                                        {% endif %}
                                                    {% endif %}
                                                {% endfor %}
                                            </select>
                                        {% else %}
                                            シフトは不要
                                        {% endif %}
                                    </p>
                                {% else %}
                                    <p>
                                        PM
                                        {% if master_shift.required %}
                                            <select name={{ master_shift.pk }}>
                                                <option value="not_selected">未選択</option>
                                                {% for personal_shift in personal_shifts %}
                                                    {% if personal_shift.master == master_shift %}
                                                        {% if personal_shift.is_wanted %}
                                                            {% if master_shift.worker == personal_shift.owner %}
                                                                <option value={{ personal_shift.owner.id }} selected>
                                                                {{ personal_shift.owner.username }} さん
                                                                </option>
                                                            {% else %}
                                                                <option value={{ personal_shift.owner.id }}>
                                                                {{ personal_shift.owner.username }} さん
                                                                </option>
                                                            {% endif %}
                                                        {% endif %}
                                                    {% endif %}
                                                {% endfor %}
                                            </select>
                                        {% else %}
                                            シフトは不要
                                        {% endif %}
                                    </p>
                                {% endif %}

                            {% endif %}
                        {% endfor %}
                    {% endfor %}

                {% endif %}
            </td>
            {% endfor %}
        </tr>
    {% endfor %}
    </tbody>
</table>

</form>

{% if generate_status %}
<div class="btn--center">
<input type="submit" class="btn btn--blue" name="confirm" value="シフトのConfirm" form="calendar">
</div>
{% endif %}

{% endblock %}