{% extends 'top/base.html' %}

{% block content %}

<p class="page-title">シフトの有効化</p>

<div class="container-fluid text-center col-6">
    <a class="fs-5 btn btn-outline-primary" href="{% url 'shift:assign' month_previous.year month_previous.month %}" role="button">前月</a>
    <span class="fs-1">{{ month_current | date:"Y年m月" }}</span>
    <a class="fs-5 btn btn-outline-primary" href="{% url 'shift:assign' month_next.year month_next.month %}" role="button">次月</a>
    <form action='{% url 'shift:employer' now.year now.month %}'>
        <input type="submit" class="btn btn-outline-primary" value="今月({{ now.month }}月)へ戻る">
    </form>
</div>

{% if not generate_status %}
<div class="btn--right">
<form action="" method="post">
    {% csrf_token %}
    <input type="submit" class="btn btn--rainbow" value="シフトの生成" name="generate">
</form>
</div>
{% endif %}

<!-- カレンダーのフォーム -->
<form method="post" id="calendar">
{% csrf_token %}

<!-- カレンダー本体 -->
<table class="table">
    <thead>
    <tr>
        {% for w in week_names %}
            <th>{{ w }}</th>
        {% endfor %}
    </tr>
    </thead>
    <tbody>
    {% for week_day_shifts in shifts %}
        <tr>
            {% for day, week_shifts in week_day_shifts.items %}
                {% if now == day %}
                    <td class="table-success">
                        {% else %}
                    <td>
                {% endif %}
            <p>
                <!-- カレンダーの表示 -->
                {% if month_current.month != day.month %}
                    {{ day | date:"m/d" }}
                {% else %}

                    <!-- 日付 -->
                    <p>{{ day.day }}</p>

                    <!-- シフト -->
                    {% for shift in week_shifts %}
                        {% for master_shift in shift|dictsortreversed:"is_am" %}
                            {% if master_shift.date == day %}

                                <!-- コマ -->
                                {% if master_shift.is_am %}
                                    {% csrf_token %}
                                    <div>
                                    <label class="form-check-label">AM</label>
                                    {% if master_shift.required %}
                                        <input class="form-check-input" type="checkbox" name="check[]" value="{{ master_shift.pk }}" checked="checked">
                                    {% else %}
                                        <input class="form-check-input" type="checkbox" name="check[]" value="{{ master_shift.pk }}">
                                    {% endif %}
                                    </div>
                                {% else %}
                                    <div>
                                    <label class="form-check-label">PM</label>
                                    {% if master_shift.required %}
                                        <input class="form-check-input" type="checkbox" name="check[]" value="{{ master_shift.pk }}" checked="checked">
                                    {% else %}
                                        <input class="form-check-input" type="checkbox" name="check[]" value="{{ master_shift.pk }}">
                                    {% endif %}
                                    </div>
                                {% endif %}

                            {% endif %}
                        {% endfor %}
                    {% endfor %}

                {% endif %}
            </td>
            {% endfor %}
        </tr>
    {% endfor %}
    </tbody>
</table>
</form>

<div class="btn--center">
<input type="submit" class="btn btn--blue btn--cubic" name="confirm" value="シフトの有効化を完了する" form="calendar">
</div>

{% endblock %}