<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>シフト確認</title>
</head>
<body>

<style>
    table {
        table-layout: fixed;
    }

    td > div {
        height: 100px;
        overflow: hidden;
        white-space: nowrap;
    }

</style>
<a href="{% url 'shift:index' month_previous.year month_previous.month %}">前月</a>
{{ month_current | date:"Y年m月" }}
<a href="{% url 'shift:index' month_next.year month_next.month %}">次月</a>
<table class="table">
    <thead>
    <tr>
        {% for w in week_names %}
            <th>{{ w }}</th>
        {% endfor %}
    </tr>
    </thead>
    <tbody>
    {% for week_day_shifts in shifts %}
        <tr>
            {% for day, week_shifts in week_day_shifts.items %}
                {% if now == day %}
                    <td class="table-success">
                        {% else %}
                    <td>
                {% endif %}

            <div>
                {% if month_current.month != day.month %}
                    {{ day | date:"m/d" }}
                {% else %}
                    {{ day.day }}
                {% endif %}

                {% for shift in week_shifts %}
                    {% for master_shift in shift %}
                        {% if master_shift.is_am %}
                            <p>AM: {{ master_shift.worker.username }}</p>
                        {% endif %}
                    {% endfor %}
                    {% for master_shift in shift %}
                        {% if not master_shift.is_am %}
                            <p>PM: {{ master_shift.worker.username }}</p>
                        {% endif %}
                    {% endfor %}
                {% endfor %}
            </div>
            </td>
            {% endfor %}
        </tr>
    {% endfor %}
    </tbody>
</table>



<form action='{% url 'shift:employer' %}'>
    <input type="submit" value="雇用者用画面へ移行">
</form>

<form action='{% url 'shift:employee' %}'>
    <input type="submit" value="被雇用者用画面へ移行">
</form>

</body>
</html>